//Any global styles that apply throughout the app.
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $dark;
  font-size: 18px;
  font-family: 'Open Sans', serif;
  background-image: url(../../images/portfolio-background.png);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: 16vw;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}
