.about-image {
  box-shadow: 15px -15px map-get($theme-colors, 'dark');
  width: 250px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 125px;
  border: double 3px transparent;
  border-image-slice: 1;
  border-width: 3px;
  background-image: linear-gradient($white, $white),
    radial-gradient(
      circle at top left,
      map-get($theme-colors, 'primary') 25%,
      map-get($theme-colors, 'dark') 50%,
      map-get($theme-colors, 'light') 75%
    );
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px 0 map-get($theme-colors, 'dark'),
    0 6px 20px 0 map-get($theme-colors, 'info');

  i {
    font-size: 40px;
  }
}
