#home {
  height: 100vh;
}
.code-number,
.code-text {
  font-size: 24px;
  vertical-align: middle;
  font-weight: 600;
}
.code-number {
  margin-right: 2vw;
}
#name:hover {
  font-family: 'Bellisia';
}
